# Ignore node_modules and build artifacts
node_modules/
.vscode/
out/
.vscode-test/
*.vsix

# Ignore logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore test files
test.art
